<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
      th:with="title='Home'">

<div layout:fragment="content">
    <div th:if="${selectedPerson != null}">
        Selected Person: <span th:text="${selectedPerson.name}"></span>
    </div>

    <div class="card">
        <div class="card-header">
            Persons
        </div>
        <ul class="list-group list-group-flush">
            <tr th:each="person: ${personList}">
                <li class="list-group-item"
                    th:onclick="|window.location.href='@{/secure/person/{name}(name = ${person.name})}'|"
                    th:with="isSelectedPerson=${selectedPerson != null && selectedPerson.name == person.name ? true : false}"
                    th:classappend="${isSelectedPerson ? 'active' : ''}">
                    <b>Full Name:</b>
                    <td th:text="${person.name}"/>
                    <td th:text="${person.surname}"/>
                    <br/>
                    <b>Age:</b>
                    <td th:text="${person.age}"/>
                </li>
            </tr>
        </ul>
    </div>

</div>

</html>

