<header xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="far fa-sticky-note"></i>
                Notes App
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"
                        th:classappend="${#request.requestURI == '/note' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/note}">
                            My Notes
                        </a>
                    </li>
                    <li
                            class="nav-item"
                            th:classappend="${#request.requestURI == '/note/edit' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/note/edit}">
                            Create Note <i class="far fa-plus-square"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"
                        th:classappend="${#request.requestURI == '/about' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/about}">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
