<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
      th:with="title='Home'">

<div layout:fragment="content">

    <form action="#" method="post" th:action="@{/note/edit}" th:object="${note}">
        <input type="hidden" id="id" th:field="*{id}">

        <div class="form-group">
            <label for="inputNoteTitle">Title</label>
            <input type="text" class="form-control" id="inputNoteTitle" placeholder="Title" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="inputNoteText">Text</label>
            <textarea class="form-control" id="inputNoteText" rows="4" th:field="*{text}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</html>

