<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple Login App</title>

    <!-- CSS Files -->
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<hr/>
<main>
    <div layout:fragment="content"></div>
</main>
<hr/>
<div th:replace="fragments/footer :: footer"></div>

<!-- JS -->
<script th:src="@{/js/index.js}" type="text/javascript"></script>

</body>
</html>
